header {
  background-color: red;
}

nav {
  background-color: green;
}

main {
  background-color: blue;
}

footer {
  background-color: yellow;
}

@media screen and (min-width: 600px) {
  nav {
    float: left;
    width: 25%;
  }
  main {
    float: right;
    width: 75%;
  }
}
